
.play-container{
    position:absolute;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8); 
    transition: .5s ease-in-out;
}
.play-btn{
   
    width:40%;
    height:20%;
    border-radius: 12%;
    font-size: 2rem;;
    background:rgb(209, 209, 209);


}


.hidden{
    display:none
}


.play-btn:hover{
    background-color: rgb(94, 94, 94);
    cursor: pointer;
}



.game{
    display:flex;
    justify-content: center;
    align-items: center;
    background:url('/public/img/background.jpg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: cover;
    height: 100%;
    width:100%;
    overflow-y: hidden;
    font-family: sans-serif;
    margin-left:-.4rem;

   
  
}

.main--wrapper{
    display:flex;
    gap:.5rem;
    width:100%;
    height:100%; padding-bottom:2rem;
   
}

.main{
    width:100%;
    padding-top:1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:.7rem;
    height:100vh;

  
    
    
}



.options-section{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width:30%;
    gap:2rem;
}
.turns, .title-y{
    color: rgb(5, 196, 34);
    text-shadow: -2px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}
.title-y{
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
}
.turns {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    font-size: 3rem;;;
    

 
}

.new-game-btn{
    color:black;
    font-size:2.5rem;
    font-weight:700;
    background:none;
    width:50%;
    border:none;
    display: flex;
    justify-content: center;
    text-shadow: -2px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff, 3px 3px 0 #fff;
}

.new-game-btn:hover{
    background:rgba(150, 150, 150, 0.4);
    cursor: pointer;
}
.card-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    
    
 
}